@model IEnumerable<MealViewModel>
@if (!Model.Any())
{
    <p class="text-muted">No meals yet.</p>
    <div>
        <a class="btn btn-primary" asp-controller="Create" asp-action="Meal">
            + Add Meal
        </a>

    </div>
}
else
{
    <div>
        <h1 class="mb-0">Meals</h1>
        <a class="btn btn-primary" asp-controller="Create" asp-action="Meal">
            + Add Meal
        </a>
            
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 200px;">Name</th>
                <th>Ingredients</th>
                <th style="width: 60px;"> </th>
            </tr>
        </thead>
        <tbody> 
            @foreach (MealViewModel b in Model.OrderBy(b => b.Name))
            {
                <tr>
                    <td>@b.Name</td>
                    @if(b.Ingredients is null)
                    {
                        <td>No ingredients listed</td>
                    }
                    else
                    {
                        var a = b.Ingredients.Where(i => i.Selected == true).OrderBy(mi => mi.IngredientName).Select(mi => mi.IngredientName);
                        var c = b.Ingredients.Where(mi => mi.Selected == true).OrderBy(mi => mi.IngredientName).Select(mi => mi.Quantity);
                        var result = string.Join(", ", a.Zip(c, (x, y) => $"{x} ({y}g)"));
                        <td>@result</td>
                    }
                    
                    <td style="text-align:center;">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">· · ·</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item btn" asp-controller="Create" asp-action="Meal" asp-route-id="@b.Id" style="height:50px; text-align:center; line-height:40px">
                                Edit
                                </a>
                                <div class="dropdown-divider"></div>
                            <form class="dropdown-item btn" asp-action="DeleteMeal" method="post" style="height:50px; text-align:center">
                                <input value="@b.Id" type="hidden" name="id"/>
                                <input value="Meals" type="hidden" name="PrevAction" />
                                <button type="submit" class="btn">Delete</button>
                            </form>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}