@model IEnumerable<Meal>
@if (!Model.Any())
{
    <p class="text-muted">No meals yet.</p>
    <div>
        <a class="btn btn-primary" asp-controller="Create" asp-action="Meal">
            + Add Meal
        </a>

    </div>
}
else
{
    <div>
        <h1 class="mb-0">Meals</h1>
        <a class="btn btn-primary" asp-controller="Create" asp-action="Meal">
            + Add Meal
        </a>
            
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 200px;">Name</th>
                <th>Ingredients</th>
                <th style="width: 60px;"> </th>
            </tr>
        </thead>
        <tbody> 
            @foreach (Meal b in Model.OrderBy(b => b.Name))
            {
                <tr>
                    <td>@b.Name</td>
                    @{
                        var a = b.Ingredients.Where(mi => mi.MealId == b.Id).OrderBy(mi => mi.IngredientId).Select(mi => mi.Ingredient.Name);
                        var c = b.Ingredients.Where(mi => mi.MealId == b.Id).OrderBy(mi => mi.IngredientId).Select(mi => mi.Quantity);
                        var result = string.Join(", ", a.Zip(c, (x, y) => $"{x} ({y}g)"));
                    }
        
                    <td>@result</td>
                    
                    <td style="text-align:center;">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> · · ·</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Create" asp-action="Meal" asp-route-id="@b.Id">
                                <b class=" btn btn-success">Edit</b>
                            </a>
                            <form class="dropdown-item"  asp-action="DeleteMeal" method="post">
                                <input value="@b.Id" type="hidden" name="id"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}