html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(200% 150% at 50% 50%, #17442FFF 0%, #000000FF 100%);
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: solid 2px #7AE3ABFF;
    border-radius: 10px;
    margin: 3%;
}
.container-fluid {
    background: radial-gradient(200% 150% at 50% 50%, #17442FFF 0%, #000000FF 100%) padding-box,linear-gradient(90deg, #36D3D1FF 0%, #B7F485FF 100%) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}
.navbar {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background: radial-gradient(200% 150% at 50% 50%, #17442FFF 0%, #000000FF 100%) padding-box, linear-gradient(90deg, #36D3D1FF 0%, #B7F485FF 100%) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    vertical-align: middle
}
.navbar-brand {
    font-family: monospace;
    font-style: italic;
    font-weight: 300;
    font-stretch: extra-condensed;
    font-size: 2rem;
    padding-right:2rem;
    
}
.navbar-text {
    font-family: monospace;
    font-style: italic;
    font-weight: 300;
    color: #36D3D1FF;
}
main {
    flex: 1;
}
.footer {
    border-top-color: transparent;
    height: 10vh;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background: radial-gradient(200% 150% at 50% 50%, #17442FFF 0%, #000000FF 100%) padding-box, linear-gradient(90deg, #36D3D1FF 0%, #B7F485FF 100%) border-box;
    margin-top: auto;
    display: flex;
    border-top: 2px solid transparent;
}
.footer-text {
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    text-align: left;
    color: #36D3D1FF;
    font-family: monospace;
    font-style: italic;
    font-weight: 300;
}
.dropdown-menu {
    background-color: #17442FFF;
    border: 2px solid #36D3D1FF;    
}
.a:active {
    color: red;

}
.dropdown-item.active, .dropdown-item:hover, dropdown-item:visited, dropdown-item:link {
    background-color: #206444
}

.body-header {
    color: #7AE3ABFF;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
}

.info-border {
    text-align: center;
    justify-items: center;
    background-color: transparent;
    border: 2px solid #7AE3ABFF;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 50%;
    margin-left: 3%;
    margin-right: 3%
}

.body-text {
    display: block;
    width: 80%;
    align-items: center;
    color: #7AE3ABFF;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}

.btn {
    border: solid 2px #7AE3ABFF;
    color: #7AE3ABFF;
    font-family: monospace;
    font-weight: 800
}

.btn-view:active, .btn-view:hover{
    border: solid 5px #51d6f0FF;
    color: #51d6f0FF;
    font-family: monospace;
    font-weight: 800;
}
.btn-edit:active, .btn-edit:hover{
    border: solid 5px #84f8d7FF;
    color: #84f8d7FF;
    font-family: monospace;
    font-weight: 800;
}
.btn-delete:active, .btn-delete:hover {
    border: solid 5px #e85151;
    color: #e85151;
    font-family: monospace;
    font-weight: 800;
}
.table {
    color: #7AE3ABFF;
}
.input {
    font-size: 2rem;
    font-weight: 600;
    color: #7AE3ABFF;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    background: none
}
.bg-custom {
    --bs-bg-opacity: 1;
    background-color: #7AE3ABFF
}