@using Microsoft.AspNetCore.Identity
@using Vitalis.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item navbar-text" style="margin-right:2rem;color: #B7F485FF">
            Hello @User.Identity?.Name!
    </li>
    <li class="nav-item" style="">
        <form  class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="navbar-text" style="background-color:transparent;border:none;color: #B7F485FF">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><span class="navbar-text" style="color:#B7F485FF">Register</span></a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="navbar-text" style="color: #B7F485FF">Login</span></a>
    </li>
}
</ul>
